.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 360px;
  margin-bottom: 40px;
}

.inputLabel {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #6c717b;
}

.input {
  display: flex;
  width: 126px;
}

.inputField {
  border-radius: 12px;
  border: none;
  padding: 16px 0px 16px 20px;
  background-color: #f7f7f7;
  color: #101828;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.filtersText {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.filterCategoryWrapper,
.categoryWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 360px;
  margin-top: 32px;
}

.sectionTitle {
  color: #101828;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.sectionLine {
  flex-shrink: 0;
  height: 1px;
  margin: 0;
  border: none;
  background-color: #dadde1;
}

.searchBtn {
  background-color: #e44848;
  padding: 16px 40px;
  width: 166px;
  border-radius: 200px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 40px;
}
.searchBtn:hover,
.searchBtn:focus {
  background-color: #d84343;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.categoryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 360px;
}

.category {
  display: flex;
  flex-direction: column;
  padding: 16px 18px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid #dadde1;
  border-radius: 12px;
  width: 112px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #101828;
}
.category:hover,
.category:focus {
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
  border-color: #e44848;
}

span {
  text-align: center;
}
