.container {
  background-image: url(../../assets//picture_1x.png);
  background-size: cover;
  width: 1440px;
  height: 696px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.blockWrapper {
  position: absolute;
  top: 260px;
  left: 64px;
  display: flex;
  flex-direction: column;
  width: 571px;
}

.title {
  font-size: 48px;
  line-height: 1.5;
  font-weight: 600;
  color: #f7f7f7;
  margin-bottom: 16px;
  text-align: start;
}

.text {
  font-size: 24px;
  line-height: 0.75;
  font-weight: 600;
  color: #f7f7f7;
  margin-bottom: 40px;
  padding-right: 21px;
  text-align: left;
}

.link {
  display: inline-block;
  color: #ffffff;
  width: 173px;
  padding: 16px 47px;
  font-size: 16px;
  font-weight: 500;
  line-height: 0.66;
  background-color: #e44848;
  border-radius: 200px;
}

.link:hover,
.link:focus {
  background-color: #d84343;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}
